<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aegis.companion.dao.ParkingSpaceMapper">

    <update id="updateStatusWithLock">
        UPDATE parking_space
        SET status           = #{newStatus},
            version          = version + 1,
            last_status_time = NOW()
        WHERE id = #{spaceId}
          AND version = #{oldVersion}
    </update>

</mapper>
